<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/myStyle.css}">
</head>
<body>
    <div class="container">
        <h1>Adding CSS, JavaScript and Image in thymeleaf</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsum soluta veniam vero quam nihil, cumque velit est. Inventore nisi veniam sit magnam. Nisi nulla voluptatem, blanditiis saepe nobis quam.</p>
        <img src="" class="profile" th:src="@{/image/DSCF8966.JPG}" alt="">
    </div>
    <script src="" th:src="@{js/myJs.js}"></script>
    
</body>
</html>