<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer tag</title>
</head>
<body>
    <footer th:fragment="footer1(title, subtitle)">
        <div class="container">
            <h1 th:text="${title}"></h1>
            <h2 th:text="${subtitle}"></h2>
            <h1>About learn code with Shivam</h1>
            <h2>Provide good content about programming</h2>
            <h3>Feel free to contact and work</h3>
        </div>
    </footer>
</body>
</html>